:root {
  --accent: rgb(244, 184, 228);
  --accent-alpha-70: rgb(242, 213, 207, 0.7);
  --accent-alpha-20: rgb(242, 213, 207, 0.2);
  --accent-secondary: rgb(202, 158, 230);
  --accent-secondary-alpha-70: rgba(202, 158, 230, 0.7);
  --accent-secondary-alpha-20: rgba(202, 158, 230, 0.7);

  --background: #303446;
  --color: #c6d0f5;
  --border-color: rgba(65, 69, 89, 0.5);
  --border-secondary-color: #51576d;
}
