<!doctype html>
<html>

<head>
  <title>{{.Title}}</title>
  <meta charset="utf-8" />
  <meta name="author" content="sioodmy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <main>
    <h1>{{.Title}}</h1>
    <span class="date">{{.DateString}}</span>
    {{.Html}}
  </main>
  <nav>
    <a href="index.html">About</a>
    <a href="projects.html">Projects</a>
    <a href="contact.html">Contact</a>
    <a href="donate.html">Donate</a>
    <a href="blog.html" class="selected">Blog</a>
  </nav>
</body>

</html>