<!doctype html>
<html>

<head>
  <title>sioodmy - Projects</title>
  <meta charset="utf-8" />
  <meta name="author" content="sioodmy">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="sioodmy">
  <meta name="description" content="sioodmy's personal website">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container projects">
    {{range .Projects}}
    <div class="project">
      <a href="{{.RepoUrl}}" target="_blank">
        <h3>{{.Name}}</h3>
      </a>
      {{.Description}}
    </div>
    {{end}}
  </div>

  <nav>
    <a href="index.html">About</a>
    <a href="projects.html" class="selected">Projects</a>
    <a href="contact.html">Contact</a>
    <a href="donate.html">Donate</a>
    <a href="blog.html">Blog</a>
  </nav>

</body>

</html>